body {
	background-color: #b3b8bf;
}

#drop_zone{
	border: dotted;
	width: 80%;
	margin:auto;

}

#upload_text{
	text-align: center;
	margin: 10px;
}


.vex-tabdiv {
	left: 26%;
}

#help {
	text-align: center;
}

.jumbotron {
	background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 60vh;
    margin-bottom: 0;
	color: white;
}

#scoreFile {
	padding-left: 90px;
	padding-bottom: 15px;
}