.white {
    color: white !important;
    text-transform: none !important;
    font-size: 17px !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.dropzone{
    width: 100%;
    border : 2px dashed black;
    text-align: center;
}

#upload_text{
    margin-top: 2rem;
    margin-bottom: 2rem;
}